.DrawrerComponent {
  .overlay {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
  }
  .dialog {
    background: white;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 50%;
    z-index: 9999;
  }
}
